body {
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


#dangnhap {
  max-width: 500px;
  margin: 100px auto;
  padding: 50px;
  border: 1px solid #cecdcd;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #3d92ec;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-size: 16px;
  
}
.form-control:active {
  border-color: #1f89fa;
  box-shadow: 0px 0px 6px #8ec2f9;
}
.form-control {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forget-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.forget-link:hover {
  color: #0056b3;
}

.btn-primary {
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0055ff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 110px;
}

.btn-primary:hover {
  background-color: #4f9cee;
}
