
#hoa_don {
    font-size: 24px; /* kích thước chữ */
    font-weight: bold; /* độ đậm chữ */
    text-align: center; /* canh giữa */
  }
/* Xem kho */

#example {
    border-collapse: collapse;
    width          : 100%;
}

#example th,
#example td {
    font-size : 15px;
    padding   : 8px;
    text-align: left;
}

#example td {
    background-color: #e9f3f2;
}

#example tr th {
    background-color: var(--white);
}

#example tr:nth-child(even) {
    background-color: #f2f2f2;
}

#example tr:hover {
    background-color: #ddd;
}
/* Hết xem kho */

/* data table xem danh sách phiếu nhập */

.dataTables_filter label input[type="search"] {
    padding         : 8px;
    border          : 2px solid #ddd;
    border-radius   : 8px;
    font-size       : 14px;
    width           : 300px;
    box-shadow      : none;
    background-color: var(--white);
    margin-right    : 30px;
    margin-bottom   : 1.5%;
    justify-content : center;
    align-items     : center;


}

#example {
    border-collapse: collapse;
    width          : 100%;
}

#example th,
#example td {
    font-size : 15px;
    padding   : 8px;
    text-align: left;
}

#example td {
    background-color: #e9f3f2;
}

#example tr th {
    background-color: var(--white);
}



.dataTables_length,
.dataTables_filter {
    font-size: 13px;

}

.dataTables_length {
    display: none;
}


/* đổi nên dataTables  */
.dataTables_wrapper {
    font-size: 13px;


    margin-top     : 1%;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: space-between;

}


.dataTables_info {
    font-size: 13px;
}

.dataTables_paginate .paginate_button {
    font-size: 13px;
}

.my-class {
    font-size       : 16px;
    color           : #333;
    background-color: #f3f0e9;
}

#example tr:nth-child(even) {
    background-color: #f2f2f2;
}

#example tr:hover {
    background-color: #ddd;
}

/* hết data table xem phiếu nhập */


/* table xem chi tiết   phiếu nhập   */
#my-table {
    width          : 100%;
    border-collapse: collapse;
    table-layout   : fixed;
    /* chiều cao tối đa của bảng */
    font-size      : 15px;

    max-height: 1000px;
    overflow-y: auto;

}

#my-table th,
#my-table td {
    border       : 1px solid #ccc;
    padding      : 10px;
    text-align   : center;
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
}

#my-table thead tr {
    border       : none;
    height       : 100%;
    position     : sticky;
    top          : 150px;
    left         : 0;
    right        : 0;
    z-index      : 1000;
    border-bottom: var(--border);
}

#my-table tr {
    border: none;

}

#my-table tbody td {
    background-color: #e9f3f2;
    position        : sticky;
    top             : 166px;
    left            : 0;
    right           : 0;
    z-index         : 1000;

}

#my-table tbody tr:hover td {
    background-color: #9bdbe6;
}

#my-table tr {
    position: sticky;
    top     : 0;
    z-index : 1;
}

#my-table tbody tr:hover td:not(:first-child) {
    color    : #fff;
    animation: move 2s linear infinite alternate;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

/* table xem  phiếu nhập   */



@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

/*  Button Lưu phiếu nhập */
#saveBtnPN {
    background-color: #139ab1;
    ;
    cursor   : pointer;
    border   : 1px solid #139ab1;
    /* position : fixed; */
    /* bottom   :  350px; */
    right    : 3px;
    /* padding  : 10px 20px; */
    font-size: 16px;
    border   : 1px;
    color    : white;
}


@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}


.dataTables_length,
.dataTables_filter {
    font-size: 13px;

}


/* hết mấy cái nút mấy cái nút nhập kho xuất kho đồ */

.content {
   

    /* chỉnh khoảng cách từ menu tới table */

    margin-top: 5%;
}

:root {
    --main-color : #8e44ad;
    --red        : #e74c3c;
    --orange     : #f39c12;
    --light-color: #888;
    --light-bg   : #eee;
    --black      : #2c3e50;
    --white      : #fff;
    --border     : .1rem solid rgba(0, 0, 0, .2);
}

* {
    font-family    : 'Nunito', sans-serif;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    outline        : none;
    border         : none;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color           : #fff;
}

html {
    font-size : 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width : 1rem;
    height: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    background-color: var(--light-bg);
    padding-left    : 30rem;
}

body.dark {
    --light-color: #aaa;
    --light-bg   : #333;
    --black      : #fff;
    --white      : #222;
    --border     : .1rem solid rgba(255, 255, 255, .2);
}

body.active {
    padding-left: 0;
}

section {
    padding  : 2rem;
    margin   : 0 auto;
    max-width: 1200px;
}

.heading {
    font-size     : 2.5rem;
    color         : var(--black);
    margin-bottom : 2.5rem;
    border-bottom : var(--border);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}


/* mở đầu header */


.header {


    position: sticky;


    top             : 0;
    left            : 0;
    right           : 0;
    background-color: var(--white);
    z-index         : 1000;
    border-bottom   : var(--border);
}

/* cai khúc này lưu ý */
.header .flex {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    position       : relative;
    padding        : 1.5rem 2rem;
}

.header .flex .logo {
    font-size: 2.5rem;
    color    : var(--black);
}


.header .flex .icons div {
    font-size       : 2rem;
    color           : var(--black);
    background-color: var(--light-bg);
    border-radius   : .5rem;
    height          : 4.5rem;
    width           : 4.5rem;
    line-height     : 4.5rem;
    cursor          : pointer;
    text-align      : center;
    margin-left     : .7rem;
}

.header .flex .icons div:hover {
    background-color: var(--black);
    color           : var(--white);
}

.header .flex .profile {
    position        : absolute;
    top             : 120%;
    right           : 2rem;
    background-color: var(--white);
    border-radius   : .5rem;
    padding         : 1.5rem;
    text-align      : center;
    overflow        : hidden;
    transform-origin: top right;
    transform       : scale(0);
    transition      : .2s linear;
    width           : 30rem;
}

.header .flex .profile.active {
    transform: scale(1);
}

.header .flex .profile .image {
    height       : 10rem;
    width        : 10rem;
    border-radius: 50%;
    object-fit   : contain;
    margin-bottom: 1rem;
}

.header .flex .profile .name {
    font-size    : 2rem;
    color        : var(--black);
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.header .flex .profile .role {
    font-size: 1.8rem;
    color    : var(--light-color);
}

/* cái nút tìm kiếm trong header  */


/* kết thúc cái nút tìm kiếm trong header */
/* hết cái header */


/* mở đầu side bar */
.side-bar {
    position        : fixed;
    top             : 0;
    left            : 0;
    height          : 1000px;
    width           : 30rem;
    background-color: var(--white);
    border-right    : var(--border);
}

.side-bar #close-btn {
    text-align: right;
    padding   : 2rem;
    display   : none;
}

.side-bar #close-btn i {
    text-align   : right;
    font-size    : 2.5rem;
    background   : var(--red);
    border-radius: .5rem;
    color        : var(--white);
    cursor       : pointer;
    height       : 4.5rem;
    width        : 4.5rem;
    line-height  : 4.5rem;
    text-align   : center;
}

.side-bar #close-btn i:hover {
    background-color: var(--black);
}

.side-bar .profile {
    padding   : 2rem;
    text-align: center;

}

.side-bar .profile img {
    height       : 15rem;
    width        : 20rem;
    border-radius: 50%;
    object-fit   : cover;
    margin-bottom: .5 rem;
}

.side-bar .profile span {
    color    : var(--light-color);
    font-size: 1.6rem;
}

.side-bar .navbar {
    margin-top: 1rem;
}

.side-bar .profile .role {
    font-size: 1.8rem;
    color    : var(--light-color);
}

.side-bar .navbar a {
    display  : block;
    padding  : 2rem;
    font-size: 2rem;
}

.side-bar .navbar a i {
    margin-right: 1.5rem;
    color       : #0077c2;
    transition  : .2s linear;
}

.side-bar .navbar a span {
    color: var(--light-color);
}

.side-bar .navbar a:hover {
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

.side-bar.active {
    left: -30rem;
}









/* responsive */

@media (max-width:1200px) {

    body {
        padding-left: 0;
    }

    .side-bar {
        left      : -30rem;
        transition: .2s linear;
    }

    .side-bar #close-btn {
        display: block;
    }

    .side-bar.active {
        left        : 0;
        box-shadow  : 0 0 0 100vw rgba(0, 0, 0, .8);
        border-right: 0;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    #search-btn {
        display: inline-block;
    }



}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .flex-btn {
        gap      : 0;
        flex-flow: column;
    }

    .home-grid .box-container {
        grid-template-columns: 1fr;
    }

    .about .row .image img {
        height: 25rem;
    }

}